# gitから無視するファイルを指定します。
# 参考: https://qiita.com/anqooqie/items/110957797b3d5280c44f
# 例えばmacでファイルを編集していると.DS_storeというファイルができますが、
# これはほとんど必要ないと思われるので
.DS_Store
# と記述するとこれ以降git pushとかの選択肢に入ってこない(はず)
# こうやって書くと以下のディレクトリでも無視されるので
#     ├.gitignore
#     ├.DS_Store
#     └directory
#       └.DS_Store
# このようなとき.DS_Storeはどっちも無視される
*.png 
# 画像等をアップロードしても重いだけなのでこれでいいと思いますが、もし画像等をアップロードしたい場合はコメントアウトしてください。
# VUV/*.png
# oscilloscope/*.
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/checkpoint
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/ckpt-1.data-00000-of-00001
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/ckpt-1.index
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/ckpt-2.data-00000-of-00001
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/ckpt-2.index
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/ckpt-3.data-00000-of-00001
Soft X-ray/Machine_Learning/code/pix2pix/training_checkpoints_8e/ckpt-3.index
Soft X-ray/Machine_Learning/code/training_checkpoints/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-1.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-2.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-3.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-30.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-30.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-4.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-1.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-1.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-10.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-10.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-11.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-11.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-12.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-12.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-13.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-13.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-14.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-14.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-15.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-15.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-16.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-16.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-17.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-17.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-18.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-18.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-19.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-19.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-2.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-2.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-20.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-20.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-21.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-21.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-22.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-22.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-23.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-23.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-24.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-24.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-25.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-25.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-26.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-26.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-27.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-27.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-28.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-28.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-29.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-29.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-3.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-3.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-30.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-30.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-4.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-4.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-5.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-5.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-6.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-6.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-7.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-7.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-8.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-8.index
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-9.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_initial/ckpt-9.index
Soft X-ray/Machine_Learning/code/training_checkpoints/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-1.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-2.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-3.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-4.index
Soft X-ray/Machine_Learning/code/training_checkpoints/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-1.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-2.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-3.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-4.index
Soft X-ray/Machine_Learning/code/training_checkpoints/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints_large/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints_large/ckpt-103.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_large/ckpt-103.index
Soft X-ray/Machine_Learning/data_set.m
Soft X-ray/Machine_Learning/code/training_checkpoints/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-9.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-9.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-8.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-8.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-7.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-7.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-6.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-6.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-5.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-5.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-4.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-4.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-3.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-3.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-2.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-2.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-15.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-15.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-14.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-14.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-13.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-13.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-12.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-12.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-11.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-11.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-10.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-10.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-1.index
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/ckpt-1.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_wrong/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints_test/ckpt-19.index
Soft X-ray/Machine_Learning/code/training_checkpoints_test/ckpt-19.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_test/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints_smallp/ckpt-1.index
Soft X-ray/Machine_Learning/code/training_checkpoints_smallp/ckpt-1.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_smallp/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-9.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-9.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-8.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-8.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-7.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-7.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-6.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-6.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-5.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-5.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-4.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-3.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-24.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-24.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-23.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-23.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-22.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-22.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-21.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-21.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-20.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-20.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-2.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-19.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-19.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-18.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-18.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-17.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-17.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-16.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-16.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-15.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-15.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-14.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-14.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-13.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-13.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-12.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-12.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-11.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-11.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-10.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-10.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-1.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_onlyphantom/ckpt-24.index
Soft X-ray/Machine_Learning/code/training_checkpoints_onlyphantom/ckpt-24.data-00000-of-00001
Soft X-ray/Machine_Learning/code/training_checkpoints_onlyphantom/checkpoint
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-28.index
Soft X-ray/Machine_Learning/code/training_checkpoints/ckpt-28.data-00000-of-00001
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_wrong/ckpt-15.index
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_wrong/ckpt-15.data-00000-of-00001
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_wrong/checkpoint
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_test/ckpt-19.index
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_test/ckpt-19.data-00000-of-00001
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_test/checkpoint
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_smallp/ckpt-1.index
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_smallp/ckpt-1.data-00000-of-00001
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_smallp/checkpoint
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_large/ckpt-103.index
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_large/ckpt-103.data-00000-of-00001
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_large/checkpoint
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_initial/ckpt-30.index
Soft X-ray/Machine_Learning/code/no|Hf-g|/training_checkpoints_initial/ckpt-30.data-00000-of-00001
